!!!
%html
  %head
    %title= title
    = include_stylesheets :common, :compiled, :media => 'all'
    = include_jquery
    = include_javascripts :vendor, :common, :coffee
    = csrf_meta_tag
  %body
    .header= yield_default :header, 'shared/header'
    .section.body= yield
