!!!
%html
  %head
    %title= title
    = javascript_include_tag 'head.0.5.min'
    = include_stylesheets :vendor, :compiled, :media => 'all'
    = include_jquery
    = include_javascripts :vendor, :compiled
    = csrf_meta_tag
  %body
    .header= yield_default :header, 'shared/header'
    .section.body= yield
